<%-include('header');-%>

<div class="content">
  <div>
      <section>

      </section>
  </div>

  <section>
      <div>
          <div class="container-header">

            <div class="container">
              <img src="/images/mask.png" class="imgcontainer" alt="Avatar" class="avatar">
            </div>

              <div class="container">
                <h1>Your order was sucessful!</h1>
              </div>

              <div class="container">
                <details open>
                  <div class="container-header">
                    <h1 class="header-style">Item</h1>
                    <div class="card" style="margin: 0 auto; width:20%">
                        <img class="img_card" src="/images/<%= order.barcode %>.png">
                        <br>
                        order_id:<%= orderHist.order_id %>
                        <br>
                        barcode:<%= orderHist.barcode %>
                        <br>
                        price:<%= orderHist.price %>
                        <br>
                        quantity: <%= orderHist.quantity %>
                        <br>
                        date of purchase: <%= orderHist.dt_purch %>
                        <br>
                        address: <%= orderHist.address %>
                        <br>
                        delivered: <%= orderHist.delivered %>
                        <br>
                    </div>
                  </div>
                </details>
              </div>

            <div class="container" style="background-color:#f1f1f1">
              <label for="return"><b>Browse more</b></label>
              <form action="home.html">
                <button type="submit" name="return">Return to the Homepage</button>
              </form>
            </div>

            <div class="container-header">
              <h1 class="header-style">More like this</h1>
              <div class="history-item-row">
                <% for(var i = 0; i < likeList.length; i++){ %> 
                <a href="/product/<%= likeList[i].barcode %>"><div class="history-item-column">
                  <div class="card">
                      <img class="img_card" src="/images/<%=likeList[i].barcode%>.png">
                      <%= likeList[i].d_name %>
                      <br>
                      price:<%= likeList[i].price %> Rs
                      <br>
                  </div>
                </div>
                <%}%>
                
              </div>
            </div>
      </div>
  </section>
<%-include('footer');-%>