<%-include('header');-%>

    <div class="content">

        <section class="item-display">
            <div class="item-img">
                <img  class="item-img img" src="/images/<%=product.barcode%>.png"> <!--data take from DB-->
            </div>
            <div class="item-details-column">
                <div class="title">
                    <h1 class="item-title"><%=product.d_name%></h1>                           <!--data take from DB-->
                    <span class="category">category: <%=product.d_category%></span>                    <!--data take from DB-->
                </div>
                <div class="item-price-details">
                    <span class="price">Price: <span class="ðŸ’²">â‚¹ <%=product.price%> </span> </span>                          <!--data take from DB-->
                    <span class="hardcode-content">(Inclusive of all taxes)</span>       <!-- to add a quantity input button-->
                    <span class="hardcode-content">This product cannot be returned for a refund or exchange.</span>
                    <span class="manufacturer">Mkt: <%=product.c_name%></span>        <!--data take from DB-->
                    <span class="Dosage">Dosage:<%=product.dosage%></span>                      <!--data take from DB-->
                    <%if(product.stock > 0){%>
                    <span class="Stock"style="color:rgb(73, 172, 70)">In Stock</span>                      <!--data take from DB-->
                    <span class="quantity"><form action="/product/<%=product.barcode%>/order" method="POST">
                        <input type="number" value="1" min="1" max="9" step="1" name="quantity" id="quantity" required>
                        <div class="hardcode-content-mode">Mode of payment
                        <input type="text" list="pay" id="payment" name="payment" required>
                        <datalist id="pay">
                        <option value="Cash on Delivery">Cash on Delivery</option>
                        <option value="Netbanking">Netbanking</option>
                        </datalist></div><br>
                    <button class="button buy-btn" type="submit" onclick="jump_fun()">BUY NOW</button></form></span>
                    <% }else{ %>
                        <span class="Stock" style="color:rgb(241, 107, 107)">Out of Stock</span>
                    <% } %> 
                </div>
                <div class="pincode">
                    <span>PINCODE:<%=pincode%></span>                       <!--data take from DB-->
                </div>
            </div>
        </section>

        <section class="product-details">                       <!--data take from DB-->
            <h2 class="title">Product Details</h2>
            <div class="column manufacturer-details">
                <div class="ðŸ˜">Barcode:<span> <%=product.barcode%></span> </div>
                <div >Name of Manufacturer/Marketer: <span> <%=company.c_name%></span> </div>                      
                <div class="ðŸ˜">Company contact no: <span> <%=company.contact_no%></span> </div>               
                <div >Company Email: <span> <%=company.email%></span> </div>                    
                <div class="ðŸ˜">Warehouse ID: <span> <%=product.warehouse_no%></span> </div>                     
                <div >Warehouse Address: <span> <%=waddress.address%></span> </div>               
                
            </div>    

        </section>

        <section class="shop Similar-products">
            <h2 class="shop-title">Similar Products</h2>
            <div class="shop-row">
                <% for(var i = 0; i < likeList.length; i++){ %> 
                <a href="/product/<%=likeList[i].barcode%>">
                    <div class="card-product">
                    <img class="card-product-img" src="/images/<%=likeList[i].barcode%>.png">
                    <div>
                        <span class="card-product-name"><%=likeList[i].d_name%></span>
                    </div>
                    <div class="card-product-price-content">
                        <span class="card-product-content">Best Price </span>
                        <span class="card-product-price">Rs.<%=likeList[i].price%></span>
                    </div>
                    <a href="/product/<%=likeList[i].barcode%>/order"><button class="button card-product-btn">BUY NOW</button></a>
                </div>
                </a>
                <% } %> 
                <div class="row-btn previous-button"></div>
                <div class="row-btn next-button"></div>
            </div>
        </section>


<%-include('footer');-%>