<%-include('header');-%>
  <div class="content">

    <section class="user-profile">
      <div>
        <div class="container-header">
          <h1 class="header-style">User Information</h1>
          <form id="formr" action="/">
            <div class="container">
              <span class="container">
                <label for="User"><b>User:</b>
                  <%= user.username %>
                </label>
              </span>
            </div>
            <hr>
            <div class="container">
              <div class="container">
                <label for="add"><b>Address:</b>
                  <%= user.address %>
                </label>
              </div>
              <span class="container">
                <label for="city"><b>City:</b>
                  <%= user.city %>
                </label>
              </span>
              <span class="container">
                <label for="state"><b>State:</b>
                  <%= user.state %>
                </label>
              </span>
              <span class="container">
                <label for="pinc"><b>Pincode:</b>
                  <%= user.pincode %>
                </label>
              </span>
            </div>
            <hr>
            <div class="container">
              <label for="eid"><b>Email-ID:</b>
                <%= user.email %>
              </label>
            </div>

            <div class="container">
              <label for="pno"><b>Phone no:</b>
                <%= user.phone_no %>
              </label>
            </div>

            <div class="container">
              <a href="/"><button type="submit">Return to home page</button></a>
            </div>
          </form>
          <div class="container">
            <form action='/logout?_method=DELETE' method="POST">
              <button type='submit'>Log Out</button>
            </form>
          </div>
        </div>
    </section>

    <section>
      <div class="container-header">
        <h1 class="header-style">Order History</h1>
        <div class="history-item-row">
          <% for(var i=orderList.length-1; i>= 0; i--){ %>
            <a href="/product/<%=orderList[i].barcode%>">
              <div class="history-item-column">
                <div class="card">
                  <img class="img_card" src="/images/<%=orderList[i].barcode%>.png">
                  <br>
                  order_id:<%= orderList[i].order_id %>
                    <br>
                    barcode:<%=orderList[i].barcode%>
                      <br>
                      price:<%=orderList[i].price%>
                        <br>
                        quantity:<%=orderList[i].quantity%>
                          <br>
                          date of purchase:<%=orderList[i].dt_purch%>
                            <br>
                            address:<%=orderList[i].address%>
                              <br>
                              delivered:<%=orderList[i].delivered%>
                                <br>
                </div>
              </div>
            </a>
            <%} %>
        </div>
      </div>
    </section>
  </div>
  <%-include('footer');-%>